<!DOCTYPE html>
<html>
    <head>
        <title>Web Profiler Mock View</title>
    </head>
    <body>
        <div id="head">
            {% block head %}{% endblock %}
        </div>
        <div id="toolbar">
            {% block toolbar %}{% endblock %}
        </div>
        <div id="menu">
            {% block menu %}{% endblock %}
        </div>
        <div id="panel">
            {% block panel %}{% endblock %}
        </div>
    </body>
</html>
